* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #1E1F26;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.login-container {
    background-color: #3498db;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.login-erro {
    margin: 8px auto 6px auto;
    text-align: center;
    font-size: 13px;
    color: #ff4d4d;
    background: rgba(255, 77, 77, 0.12);
    padding: 6px 10px;
    border-radius: 6px;
    width: fit-content;
}


h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #fff;
}

.form-group {
    margin-bottom: 1.2rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

input:focus, select:focus {
    outline: none;
    border-color: #3498db;
}

small {
    display: block;
    margin-top: 0.3rem;
    color: #fff;
    font-size: 0.8rem;
}

.btn-login {
    width: 100%;
    padding: 0.8rem;
    background-color: #000000;
    color: white;
    border: 2px solid #63bcf8;
    border-radius: 40px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-login:hover {
    background-color: #2980b9;
}

.create-account {
    text-align: center;
    margin-top: 1rem;
}

.create-account a {
    color: #3498db;
    text-decoration: none;
    font-size: 0.9rem;
}

.create-account a:hover {
    text-decoration: underline;
}

.error-message {
    color: #e74c3c;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    display: none;
}



