body{
    background-color: black;
}

.CapaBrasao{
    text-align: center;
    margin: 10px;
    padding: 10px;
    width: 400px;
    background-color: black;
    border-radius: 5%;
    
}

h1{
    color: rgb(0, 195, 255);
    text-align: center;
    font-family: "Mulish", sans-serif;
    height: auto 0;
}

h2{
    color: white;
    text-align: center;
    font-family: "Mulish", sans-serif;
    height: auto 0;
}
p{
    color: black;
    background-color:  rgb(0, 195, 255);
    text-align: center;
    font-family: "Mulish", sans-serif;
    border: 2px solid black;
    border-color: rgb(0, 195, 255);
    border-radius: 20px;
}

hr{
    color: white;
<<<<<<< HEAD
    font-size: 0.9em; 
    display: inline; 
    margin-right: 5px; 
}

.login-creat-account .creat-btn {
    color: #00aaff; 
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
}

#nmr_alertas {
    display: flex;
    background-color: #0a0a0a;
}

#body_alertas{
    background-color: #000000;
}

#horario_body{
    width: 800px;
    margin: 0 auto;
    background-color: #000000;
    color: white;
}

@media (max-width: 768px) {
    horario_body{
        width: 100%;
        margin: 0;
    }
}

#button_horario{
    background-color: #000000;
    ;
=======
>>>>>>> 5494f40b1ad073c150e12d4544ef82b3a554ec2a
}