body {
    background-color: black;
}

h1 {
    color: lightskyblue;
    text-align: center;
    font-family: "Helvetica", Arial, sans-serif;
    height: auto 0;
}

h2 {
    color: white;
    text-align: center;
    font-family: "Helvetica", Arial, sans-serif;
    height: auto 0;
}
.HorariosBarreira {
    text-align: left;
    display: flex;
    justify-content: space-around;
}

hr {
    border-color: white;
}



.HorariosMuralha {
    display: flex;
    text-align: center;
    justify-content: flex-start;
}

.HorariosBarra {
    border-color: lightskyblue;
}




